APP_NAME=GOA
APP_DEBUG=dev
APP_PORT=8080
APP_URL=http://127.0.0.1:8080
APP_ICP=

DATABASE_HOST=127.0.0.1
DATABASE_PORT=33061
DATABASE_USER=root
DATABASE_PASS=root
DATABASE_NAME=goa
DATABASE_TIMEZONE=Asia/Shanghai

USER_REGISTER_LOCK_STATUS=-1

SEO_INDEX_TITLE=goa是基于beego开发的在线问答系统
SEO_INDEX_KEYWORDS=goa,go,beego,npm,vuejs,env
SEO_INDEX_DESCRIPTION=goa是基于beego开发的在线问答系统

SMTP_HOST=smtpdm.aliyun.com:80
SMTP_USER=
SMPT_PASS=
SMPT_REPLY=demo@mail.com

BACKEND_USER=
BACKEND_PASS=