@import './_variables.scss';
@import 'bootstrap/scss/bootstrap.scss';

$bgColor: rgb(44, 62, 80);
$color: rgb(236, 240, 241);
$activeColor: #17a2b8;

body {
    background-color: rgb(44, 62, 80);
    color: $color;
}
li { list-style: none }
ul { padding: 0px; margin: 0px; }
a { color: $color; }
.mt-15 { margin-top: 15px; }
.mb-15 { margin-bottom: 15px; }
.lh-40 { line-height: 40px; }
.lh-46 { line-height: 46px; }
.font-08 { font-size: .8rem; }
a:hover { color: $activeColor!important; }
.color-primary { color: $activeColor }

.card { background-color: $bgColor }
.alert { margin-bottom: 15px; }

/** bootstrap4 */
.breadcrumb-item {
    a {
        color: $activeColor;
    }
}
.list-group-item.active a:hover {
    color: $color;
}

/** 全局头部 */
header.header-navbar {
    border-bottom: 2px solid $color;
    margin-bottom: 15px;
    a {
        color: rgb(236, 240, 241)!important;
    }
    li.active a {
        color: #17a2b8!important;
    }
    .header-right-box {
        margin-left: 20px;
    }
}
/** 全局尾部 */
footer {
    .footer {
        font-size: .8rem; line-height: 50px; margin-top: 15px; text-align: center;
    }
}

/** 登录/注册 */
.center-form-box {
    margin-top: 120px;
}

.question-box {
    color: grey;
    h5 {
        a {
            color: $color;
        }
    }
    p {
        a {
            color: #17a2b8;
        }
    }
}

/** 用户中心 */
.member-left-box {
    li {
        background-color: $bgColor;
    }
    .member-info-box {
        padding-top: 30px; padding-bottom: 30px;
        .nickname {
            line-height: 40px;
        }
    }
}

/** 问题详情界面 */
.question-description {
    font-size: 1rem;
    line-height: 2rem;
    img {
        max-width: 100%; margin: 5px;
    }
    h1,h2,h3,h4,h5,h6 {
        margin-bottom: 15px;
    }
}

.answer-content-box {
    img {
        max-width: 100%; margin: 5px;
    }
}